* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdfefe;
}
header {
  height: 80px;
  background-color: #fdfefe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}
#logo {
  max-height: 100px;
  max-width: 100px;
}
h1 {
  font-size: 40px;
  color: #ec004a;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  margin-left: 10px;
}

/* NAV COMPONENT */

.menuHome {
  background-color: #ec004a;
  display: flex;
  justify-content: right;
  padding-right: 150px;
}
.menuIcon {
  float: left;
  height: 40px;
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}
.menuIcon::-webkit-scrollbar {
  width: 0;
}
#btnMenu {
  display: none;
}
.inputGroup {
  position: relative;
}
#inputFilter {
  width: 200px;
  height: 36px;
  font-size: 18px;
  text-align: left;
  padding: 8px 10px 6px 38px;
  margin: 10px 6px 10px 20px;
  box-shadow: 3px 3px 3px 3px rgba(132, 132, 132, 0.13);
  border: 0;
  border-radius: 20px;
  outline: none;
}
#magnifyingGlassIcon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 18px;
  left: 30px;
  cursor: pointer;
}
#apiKey {
  font-size: 17px;
  font-weight: bold;
  border: none;
  color: #ec004a;
  background-color: white;
  padding: 8px 15px 8px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 5px;
  margin: 10px 0px 10px 40px;
  cursor: pointer;
}
#apiKey:hover {
  color: white;
  background-color: #ec004a;
}

/* NAV COMPONENT LATERAL*/

.firstContainer {
  position: absolute;
  background-color: #fbebee;
  width: 100%;
  height: 80vh;
  top: 248px;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btnMenu:checked ~ .firstContainer {
  opacity: 1;
  visibility: visible;
}
.secondContainer {
  width: 100%;
  max-width: 280px;
  height: 80vh;
  background-color: #ffffff;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
#btnMenu:checked ~ .firstContainer .secondContainer {
  transform: translateX(0%);
}
.secondContainer nav {
  transform: translateY(15%);
}
.secondContainer nav select,
button {
  display: block;
  padding: 20px;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.secondContainer nav select:hover {
  border-left: 5px solid #ec004a;
  transition: all 400ms ease;
}
#closeMenu {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

label {
  padding: 5px;
  border: none;
}
select {
  color: black;
  font-size: 18px;
  background-color: #ffffff;
  border: 0;
  border-radius: 5px;
  outline: none;
}
select[name="year"] {
  padding: 8px 12px 8px 12px;
}
button {
  font-size: 17px;
  font-weight: bold;
  border: none;
  color: #ec004a;
  background-color: #ffffff;
  padding: 8px 15px 8px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 5px;
  margin: 40px 0px 40px 80px;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: #ec004a;
}

/* SECONDARY NAV COMPONENT */

.secondaryNav {
  height: auto;
  width: 100%;
  background-color: #ec004a;
  padding: 10px 0px 10px 0px;
}
.imgHome {
  width: 40px;
  height: 40px;
  display: flex;
  margin-left: 100px;
}

/*HOME CHAT MESSAGES------------------------*/

.chatMss {
  font-size: 19px;
  color: white;
  padding: 10px;
  background-color: #ec004a;
  display: flex;
  justify-content: center;
}

/* COMPUTE STATS */

.computeStats {
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 30px 0px 0px 250px;
}
#noResultsFound {
  font-size: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARDS COMPONENT */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 40px;
}
.itemContainer {
  display: flex;
  flex-direction: row;
  width: 478px;
  height: 260px;
  margin: 12px;
  border-radius: 10px;
  background: #fdfefe;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  cursor: pointer;
}
.itemContainer:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
img {
  max-width: 242px;
  max-height: 260px;
  border-radius: 10px;
}
.texto {
  position: absolute;
  top: 22px;
  left: 203px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
dd[itemprop="studio"] {
  color: #fad400;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 10px;
}
dd[itemprop="name"] {
  font-size: 17px;
  color: #ec004a;
  font-weight: 600;
  margin-top: 14px;
  letter-spacing: 1px;
}
dd[itemprop="shortDescription"] {
  font-size: 14px;
  text-align: left;
  margin-top: 14px;
  color: #010101;
  line-height: 20px;
}
dd[itemprop="genre"] {
  font-size: 13px;
  padding-top: 10px;
  text-align: left;
  margin-top: 15px;
  color: #3c3c3c;
  position: absolute;
  top: 169px;
}
dd[itemprop="year"] {
  color: #3c3c3c;
  font-size: 13px;
  position: absolute;
  top: 195px;
  left: 213px;
  letter-spacing: 1px;
}

/* CHAT IA COMPONENT*/

.chatContainer {
  display: flex;
  justify-content: right;
  align-items: center;
}
.chatBox {
  width: 845px;
  height: 577px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  overflow: hidden;
  border-radius: 10px;
  margin: 40px 40px 40px 20px;
  position: relative;
  transform: translate(-57px, -555px);
}
.user {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  background-color: #ec004a;
  padding: 15px;
}
.user img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center top 20px; 
  border-radius: 50%;
}
.user h4 {
  color: white;
  padding: 18px;
}
.chats {
  width: 100%;
  padding: 0 15px;
  color: white;
  position: relative;
  font-size: 18px;
  overflow-y: auto;
}
.userMessages {
  color: black;
  width: 50%;
  word-wrap: break-word;
  background-color: #ececec;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 25px 5px;
}
.AIsResponse {
  color: white;
  width: 50%;
  word-wrap: break-word;
  background-color: #ec004a;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 5px 40px 5px auto;
}
.chatInputForm {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.chatInputForm input {
  width: 84%;
  height: 100%;
  font-size: 20px;
  text-align: start;
  color: rgb(0, 0, 0);
  background-color: #f3f3f3;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 0 30px;
}
.sendButton {
  width: 40px;
  height: 40px;
  background-color: #ec004a;
  padding: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 19px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.sendButton:active {
  transform: scale(0.85);
}
.sendButton img {
  width: 100%;
  height: 100%;
}

/* FOOTER COMPONENT */

footer {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: auto;
  padding: 20px 20px;
  background-color: #ec004a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*API VIEW */

.apiSection {
  display: grid;
  column-gap:  20px;
  grid-template-columns: 250px 280px ;
  justify-content: center;
  margin: 10px 0px 50px 0px;
}
.apiSection p, .apiSection input{
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin: 25px 25px;
}
.apiSection h2{
  color: #ec004a;
  margin-bottom: 50px;
  grid-column-start: span 2;
  display: flex;
  justify-content: center;
  margin: 50px 25px 30px;
}
#saveApiButton{
 font-size: 17px;
  font-weight: bold; 
  color: #ffffff;
  background-color: #ec004a;
  border: none;
  padding: 15px 5px 15px 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 5px;
  cursor: pointer;
}
#saveApiButton:hover {
  color: #ec004a;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: #ffffff;
}
#clearApiButton{
  font-size: 17px;
   font-weight: bold; 
   color: #ec004a;
   background-color: #ffffff;
   border: none;
   padding: 15px 10px 15px 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
   border-radius: 5px;
   cursor: pointer;
 }
.apiText {
  color: #010101;
  font-size: 20px;
}
.apiKeyInput {
  width: 450px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 15px 15px 15px;
  margin: 0px 6px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  outline: none;
  border: 0;
}



/* DETAILS VIEW */

.descriptionC {
  background-color: #ffffff;
  margin: 50px 100px 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 100px 200px;
  min-height: 80vh;
  grid-template-areas:
    "image description description"
    "image . ."
    "image . ."
    "details . .";
}
.detailsImage {
  grid-area: image;
  max-width: 480px;
  max-height: 520px;
  border-radius: 20px;
}
.description {
  grid-area: description;
  margin-top: 20px;
}
.description h3 {
  color: #ec004a;
  font-size: 19px;
  text-align: left;
  margin: 10px 0px 10px;
}
.description p {
  font-size: 16px;
  line-height: 25px;
}
.detailsMovie {
  grid-area: details;
  padding: 20px;
}
.detailsMovie h3 {
  color: #ec004a;
  font-size: 26px;
  margin-bottom: 15px;
}
.detailsMovie h6 {
  color: #000000;
  margin: 10px 0px 0px;
}
.detailsMovie p {
  color: #343434;
  font-size: 17px;
}

/* ERROR VIEW */

.errorSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 70px;
}
.errorMessage {
  margin: 80px 0px 40px 0px;
}
.errorImg {
  width: 500px;
  height: 500px;
}

/* PANEL VIEW */
