* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdfefe;
}
header {
  height: 80px;
  background-color: #fdfefe;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px;
}
#logo {
  max-height: 100px;
  max-width: 100px;
}
h1 {
  font-size: 40px;
  color: #ec004a;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  margin-left: 10px;
}

/* NAV COMPONENT */

.navComponent {
  background-color: #ec004a;
  display: flex;
  justify-content: right;
  padding-right: 150px;
  position: relative;
}
.menuIcon {
  float: left;
  height: 40px;
  width: 40px;
  margin-left: 20px;
  cursor: pointer;
}
.menuIcon::-webkit-scrollbar {
  width: 0;
}
#btnMenu {
  display: none;
}
.inputGroup {
  position: relative;
}
#inputFilter {
  width: 200px;
  height: 36px;
  font-size: 18px;
  text-align: left;
  padding: 8px 10px 6px 38px;
  margin: 10px 6px 10px 20px;
  box-shadow: 3px 3px 3px 3px rgba(132, 132, 132, 0.13);
  border: 0;
  border-radius: 20px;
  outline: none;
}
#magnifyingGlassIcon {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 18px;
  left: 30px;
  cursor: pointer;
}
#apiKey {
  font-size: 17px;
  font-weight: bold;
  border: none;
  color: #ec004a;
  background-color: #ffffff;
  padding: 8px 15px 8px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 5px;
  margin: 10px 0px 10px 40px;
  cursor: pointer;
}
#apiKey:hover {
    background-color: #fcfcfc;
}

/* NAV COMPONENT LATERAL*/

.backgroundMenu  {
  position: absolute;
  background-color: #fffcfc;
  width: 100%;
  height: 80vh;
  top: 60px;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btnMenu:checked ~ .backgroundMenu {
  opacity: 1;
  visibility: visible;
}
.menu {
  width: 100%;
  max-width: 280px;
  height: 80vh;
  background-color: #ffffff;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}
#btnMenu:checked ~ .backgroundMenu .menu {
  transform: translateX(0%);
}
.menu nav {
  transform: translateY(15%);
}
.menu select,
button {
  display: block;
  padding: 10px;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.menu select:hover {
  border-left: 5px solid #ec004a;
  transition: all 400ms ease;
}
#closeMenu {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
label {
  padding: 10px;
  border: none;
}
select {
  color: black;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  outline: none;
}
button {
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #ffffff;
  background-color: #ec004a;
  padding: 10px 16px 10px 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 5px;
  margin: 40px 0px 40px 80px;
  cursor: pointer;
}
button:hover {
  background-color: #f7004e;
}

/* SECONDARY NAV COMPONENT */

.secondaryNav {
  height: auto;
  width: 100%;
  background-color: #ec004a;
  padding: 10px 0px 10px 0px;
}
.imgHome {
  width: 40px;
  height: 40px;
  display: flex;
  margin-left: 100px;
  cursor: pointer;
}

/* COMPUTE STATS */

.computeStats {
  font-size: 15px;
  color: #000000;
  text-align: left;
  margin: 30px 0px 0px 250px;
}
#noResultsFound {
  font-size: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARDS COMPONENT */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 40px;
}
.itemContainer {
  display: flex;
  flex-direction: row;
  width: 478px;
  height: 260px;
  margin: 12px;
  border-radius: 10px;
  background: #fdfefe;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  cursor: pointer;
}
.itemContainer:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
img {
  max-width: 242px;
  max-height: 260px;
  border-radius: 10px;
}
.cardsText {
  position: absolute;
  top: 22px;
  left: 203px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
dd[itemprop="studio"] {
  color: #fad400;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 10px;
}
dd[itemprop="name"] {
  font-size: 17px;
  color: #ec004a;
  font-weight: 600;
  margin-top: 14px;
  letter-spacing: 1px;
}
dd[itemprop="shortDescription"] {
  font-size: 14px;
  text-align: left;
  margin-top: 14px;
  color: #010101;
  line-height: 20px;
}
dd[itemprop="genre"] {
  font-size: 13px;
  padding-top: 10px;
  text-align: left;
  margin-top: 15px;
  color: #3c3c3c;
  position: absolute;
  top: 169px;
}
dd[itemprop="year"] {
  color: #3c3c3c;
  font-size: 13px;
  position: absolute;
  top: 195px;
  left: 213px;
  letter-spacing: 1px;
}

/* CHAT IA COMPONENT*/

.chatContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100px;
}
.chatBox {
  width: 850px;
  height: 577px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  overflow: hidden;
  border-radius: 20px;
  margin: 40px 40px 40px 20px;
  position: relative;
  transform: translate(-57px, -306px);
}
.user {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  background-color: #ec004a;
  padding: 15px;
}
.user img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center top 20px; 
  border-radius: 50%;
}
.user h4 {
  color: #ffffff;
  padding: 18px;
}
.chats {
  width: 100%;
  padding: 0 15px;
  color: #ffffff;
  position: relative;
  font-size: 18px;
  overflow-y: auto;
}
.userMessages {
  color: #000000;
  width: 50%;
  word-wrap: break-word;
  background-color: #fbfbfb;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 25px 5px;
}
.AIsResponse {
  color: #ffffff;
  width: 50%;
  word-wrap: break-word;
  background-color: #ec004a;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 5px 40px 5px auto;
}
.chatInputForm {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.chatInputForm input {
  width: 87%;
  height: 100%;
  font-size: 20px;
  text-align: start;
  color: #000000;
  background-color: #fbfbfb;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 0 20px;
}
.sendButton img {
  width: 100%;
  height: 100%;
}
.sendButton {
  width: 40px;
  height: 40px;
  background-color: #ec004a;
  padding: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 19px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.sendButton:active {
  transform: scale(0.85);
}
.sendButton:hover{
  background-color: #f7004e;
}

/* FOOTER COMPONENT */

footer {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-top: auto;
  padding: 15px 15px;
  background-color: #ec004a;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p{
font-size: 16px;
}

/* API VIEW */

.apiSection {
  display: grid;
  column-gap:  20px;
  grid-template-columns: 250px 280px;
  justify-content: center;
  margin: 10px 0px 50px 0px;
}
.apiSection p, .apiSection input{
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin: 25px 25px;
}
.apiSection h2{
  color: #ec004a;
  margin-bottom: 50px;
  grid-column-start: span 2;
  display: flex;
  justify-content: center;
  margin: 50px 25px 30px;
}
#saveApiButton{
 font-size: 17px;
  font-weight: bold; 
  color: #ffffff;
  background-color: #ec004a;
  border: none;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 5px;
  cursor: pointer;
}
#saveApiButton:hover {
    background-color: #f7004e;
}
#clearApiButton{
  font-size: 17px;
   font-weight: bold; 
   color: #ec004a;
   background-color: #ffffff;
   border: none;
   padding: 15px 10px 15px 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
   border-radius: 5px;
   cursor: pointer;
 }
 #clearApiButton:hover{
   background-color: #fcfcfc;
 }
.apiText {
  color: #010101;
  font-size: 18px;
}
.apiKeyInput {
  width: 420px;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  padding: 15px 20px 15px;
  margin: 0px 6px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 25px;
  outline: none;
  border: 0;
}

/* DETAILS VIEW */

.descriptionC {
  margin: 50px 100px 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 100px 200px;
  min-height: 80vh;
  grid-template-areas:
    "image description description"
    "image . ."
    "image . ."
    "details . .";
}
.detailsImage {
  grid-area: image;
  max-width: 480px;
  max-height: 520px;
  border-radius: 20px;
}
.description {
  grid-area: description;
  margin-top: 20px;
}
.description h3 {
  color: #ec004a;
  font-size: 19px;
  text-align: left;
  margin: 10px 0px 10px;
}
.description p {
  font-size: 16px;
  line-height: 25px;
}
.detailsMovie {
  width: 310px;
  height: 230px;
  border-radius: 20px;
  grid-area: details;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
}
.detailsMovie h3 {
  color: #ec004a;
  font-size: 26px;
  margin-bottom: 15px;
}
.detailsMovie h6 {
  color: #000000;
  margin: 10px 0px 0px;
}
.detailsMovie p {
  color: #343434;
  font-size: 17px;
}

/* ERROR VIEW */

.errorSection {
  display: grid;
  grid-template-columns: 400px 200px 100px;
  justify-content: center;
  margin: 20px 0px 73px;
  grid-template-areas:
    "errorTitle . errorImg"
    "errorpf . errorImage"
}
.errorTitle {
  grid-area: errorTitle;
  color: #ec004a;
  margin: 80px 0px 40px 0px;
  grid-column: span 2;
}
.errorSection p{
  grid-area: errorpf;
  width: 400px;
  font-size: 16px;
  grid-row: 2;
  grid-column: 1;
  margin-right: 20px;
}
.errorImg {
  grid-area: errorImg;
  width: 500px;
  height: 500px;
  grid-column: 2/3; 
  grid-row: 2/3;
}

@media (max-width: 412px) {
  header{
    height: 20px;
    width: 100%;
  }
  #logo {
    max-height: 70px;
    max-width: 70px;
    position: absolute;
    left: 5px;
    top: 1px;
  }
  h1 {
    display: none;
  }
  .menuIcon {
    display: block;
  }
  .navComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .computeStats{
    display: flex;
justify-content: center;
  }

  /* CARDS COMPONET */ 
  .itemContainer{
    width: 380px;
    height: 236px;
    display: flex;
    flex-direction: column;
  }
  .itemContainer img{
    height: 236px;
    width: 168px;
  }
  .cardsText{
    top: 5px;
    left: 181px;
    padding-right: 18px;
  }
  dd[itemprop="studio"] {
font-size: 11px;
  }
  dd[itemprop="name"] {
    font-size: 15px;
  }
  dd[itemprop="shortDescription"] {
    font-size: 13px;
    line-height: 18px;
    margin-top: 2px;
  }
  dd[itemprop="genre"]{
    font-size: 12px;
    top: 172px;
}
dd[itemprop="year"]{
  left: 144px;
  top: 200px;
  font-size: 12px;
}

 /* DETAILS VIEW */

.detailsImage{
  width: 340px;
  height: 453px;
  align-items: center;
}
.chatContainer{
  transform: translate(5px, 82px);
}
.user h4{
  font-size: 16px;
}
.chatInputForm input{
  width: 68%;
}
/* API KEY VIEW */
 /* ERROR SECTION */

 .errorSection{
  display: flex;
  flex-direction: column;
  margin: 10px 20px 40px;
  justify-content: center;
 }
 
 
 /* SECONNDARY NAV COMPONENT*/ 
.imgHome{
  flex-direction: row;
}

/* NAV LATERAL */
.menu{
  max-width: 414px;
  z-index: 100;
}
.menu select,
button {
  display: flex;
flex-direction: column;
}
}