@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100vh;

}
header {
  height: 210px;
  font-family: "Bleak Chop";
  background-color: #ffffff;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo {
  max-height: 180px;
  max-width: 180px;
  margin-top: 25px;
}
h1 {
  font-size: 40px;
  color: #ec004a;
  font-family: "Bleak Chop";
  text-align: center;
  margin-top: 0px;
  letter-spacing: 2px;
}

/* NAV COMPONENT */

.menuIcon {
  float: left;
  height: 40px;
  width: 40px;
  margin-left: 60px;
  cursor: pointer;
}

.menuIcon::-webkit-scrollbar {
  width: 0;
}
#btnMenu {
  display: none;
}
.inputGroup{
  position:relative;
}
#inputFilter {
  width: 240px;
  height: 40px;
  font-size: 18px;
  text-align: left;
  padding: 8px 10px 6px 38px;
  margin: 10px 6px 10px 20px;
  box-shadow: 3px 3px 3px 3px rgba(132, 132, 132, 0.13);
  border: 0;
  border-radius: 20px;
  outline: none;
}
#magnifyingGlassIcon{
  height: 24px;
  width: 24px;
  position: absolute;
  top: 18px;
  left: 30px;
  cursor: pointer;
}

#chat, #apiKey{
  font-size: 17px;
  font-weight: bold;
  border: none;
  color: #ec004a;
  background-color: white;
  padding: 8px 15px 8px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 5px;
  margin: 10px 0px 10px 40px;
  cursor: pointer;
}

#chat:hover, #apiKey:hover {
  color: white;
  background-color: #ec004a;
}
/* NAV COMPONENT LATERAL*/
.firstContainer {
  position: absolute;
  background-color: #fbebee;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
#btnMenu:checked ~ .firstContainer {
  opacity: 1;
  visibility: visible;
}
.secondContainer {
  width: 100%;
  max-width: 280px;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
  transition: all 500ms ease;
  transform: translateX(-100%);
}

#btnMenu:checked ~ .firstContainer .secondContainer {
  transform: translateX(0%);
}
.secondContainer nav {
  transform: translateY(15%);
}
.secondContainer nav select, button {
  display: block;
  padding: 20px;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}
.secondContainer nav select:hover {
  border-left: 5px solid #ec004a;
  transition: all 400ms ease;
}
#closeMenu {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}


label {
  padding: 5px;
  border: none;
  font-family: "Hammersmith One", sans-serif;
}
select {
  color: black;
  font-size: 18px;
  font-family: "Hammersmith One", sans-serif;
  background-color: #ffffff;

  border: 0;
  border-radius: 5px;
  outline: none;
}
select[name="year"] {
  padding: 8px 12px 8px 12px;
}
button {
  font-size: 17px;
  font-weight: bold;
  border: none;
  color: #ec004a;
  background-color: #ffffff;
  padding: 8px 15px 8px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  border-radius: 5px;
  margin: 40px 0px 40px 80px;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: #ec004a;
}

.menuHome {
  background-color: #ec004a;
  display: flex;
  justify-content: right;
  padding-right: 150px;
}

/* SECONDARY NAV COMPONENT */

.secondaryNav {
  height: auto;
  width: 100%;
  background-color: #ec004a;
  padding: 10px 0px 10px 0px;
}
.imgHome {
  width: 45px;
  height: 45px;
  display: flex;
  margin-left: 100px;
  padding: 0px 0px 8px 30px;
}

/*HOME CHAT MESSAGES*/

.chatMss {
  font-size: 19px;
  color: white;
  font-family: "Hammersmith One", sans-serif;
  padding: 10px;
  background-color: #ec004a;
  display: flex;
  justify-content: center;
}

/* COMPUTE STATS */

.computeStats {
  font-size: 19px;
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 50px 0px 0px 210px;
}
#noResultsFound {
  font-size: 25px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARDS COMPONENT */

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0px 40px;
}
.itemContainer {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 280px;
  margin: 20px;
  color: #ec004a;
  border-radius: 10px;
  padding: 15px 5px 0px 15px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  cursor: pointer;
}
.itemContainer:hover {
  /*  transform: translateY(-15px);*/
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
img {
  max-width: 220px;
  max-height: 264px;
  border-radius: 10px;
}
.texto {
  position: absolute;
  top: 8px;
  left: 220px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
dd[itemprop="studio"] {
  color: #fad400;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-top: 25px;
}
dd[itemprop="name"] {
  font-size: 17px;
  font-weight: bold;
  font-family: "Hammersmith One", sans-serif;
  margin-top: 30px;
  letter-spacing: 1px;
}
dd[itemprop="shortDescription"] {
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
  color: #010101;
  font-family: Arial, Helvetica, sans-serif;
}
dd[itemprop="genre"] {
  font-size: 15px;
  padding-top: 10px;
  text-align: left;
  margin-top: 15px;
  color: #010101;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 220px;
}
dd[itemprop="year"] {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 245px;
  left: 240px;
  letter-spacing: 1px;
}

/* CHAT IA COMPONENT*/

.chatContainer {
  display: flex;
  justify-content:right;
  align-items: center;
}
.chatBox {
  width: 915px;
  height: 650px;
  background-color: #fcfcfc;
  overflow: hidden;
  border-radius: 10px;
  margin: 0px 40px 40px 60px;
  position: relative;
  transform: translate(-7px, -339px);
}
.user {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  background-color: #ec004a;
  padding: 15px;
}
.user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.user h4 {
  color: white;
  padding: 18px;
}
.chats {
  width: 100%;
  padding: 0 15px;
  color: white;
  position: relative;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
.userMessages {
  color: black;
  width: 50%;
  word-wrap: break-word;
  background-color: #ececec;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 25px 5px;
}
.AIsResponse {
  color: white;
  width: 50%;
  word-wrap: break-word;
  background-color: #ec004a;
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  margin: 5px 40px 5px auto;
}
.chatInputForm {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.chatInputForm input {
  width: 85%;
  height: 100%;
  font-size: 20px;
  text-align: start;
  color: rgb(0, 0, 0);
  background-color: #ececec;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 0 20px;
}

.sendButton {
  width: 40px;
  height: 40px;
  background-color: #ec004a;
  padding: 10px;
  overflow: hidden;
  position: relative;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 19px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.sendButton:active {
  transform: scale(0.85);
}
.sendButton img {
  width: 100%;
  height: 100%;
}

/* API COMPONENT */

.apiSection {
  display: flex;
  flex-direction: column;
  justify-content: center;      /*falta centrar los elementos*/
}
.apiSection h2 {
  font-size: 40px;
  margin-top: 40px;
}
.apiText {
  color: #010101;
  font-size: 30px;
  font-family: "Bleak Chop";
}
#apiKeyInput {
  font-size: 18px;
  text-align: left;
  padding: 15px 400px 15px 15px;
  margin: 0px 6px 0px 10px;
  box-shadow: 5px 5px 5px rgba(132, 132, 132, 0.3);
  box-sizing: border-box;
  border-radius: 8px;
  outline: none;
}

#saveApiButton,
#clearApiButton {
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: #ece9e2;
  background-color: #ec004a;
  padding: 8px 20px 8px 20px;
  border-radius: 6px;
  margin-left: 80px;
}
#saveApiButton:hover {
  background-color: rgba(31, 30, 30, 0.902);
}
#clearApiButton:hover {
  background-color: rgba(31, 30, 30, 0.902);
}
/* FOOTER COMPONENT */

footer {
  color: white;
  font-size: 20px;
  margin-top: auto;
  padding: 20px 20px;
  background-color: #ec004a;
  font-family: "Hammersmith One", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*API VIEW */

.apiSection h2 {
  margin: 20px 0px 80px 0px;
}
.apiText {
  color: #010101;
  font-family: "Bleak Chop";
  font-size: 30px;
}
.apiText {
  color: #010101;
  margin: 20px 0px 40px 0px;
}
.apiKeyInput {
  font-size: 18px;
  color: rgb(0, 0, 0);
  background-color: rgb(236, 236, 236);
  width: 400px;
  padding: 20px;
  margin: 60px 40px;
}


/* DETAILS VIEW */

.detailsMovie {
  height: 281px;
  width: 212px;
  display: flex;
  flex-direction: column;
 justify-content: left;
  background-color: #f6f4f4db;
  margin: 10px 0px 0px 150px;
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  line-height: 25px;
}
.detailsMovie h2 {
  color: #ec004a;
  font-size: 26px;
  margin-bottom: 15px;
}
.detailsMovie h6 {
  color: #000000;
}
.detailsMovie p {
  color: #070707;
  font-size: 17px;
}
.detailsImage {
  max-width: 450px;
  max-height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}
.description {
  /*background-color: #ece9e2;*/
  margin: 50px;
  display: flex;
  flex-direction: row;
}
.descriptionContainer {
  text-align: left;
  margin-left: 100px;
  padding: 20px 80px 0px 40px;
  background-color: #f6f4f4db;
  border-radius: 10px;
}
.descriptionContainer h3 {
  color: #ec004a;
  font-size: 19px;
  text-align: left;
  margin:20px 0px 20px 0px;
}
.descriptionContainer p {
font-size: 19px;
line-height: 30px;
}

/* ERROR VIEW */

.errorImg {
  width: 300px;
  height: 300px;
  display: flexbox; /* Buscar como centrarlo utilizando flexbox*/
}

/* PANEL VIEW */
